.env
.env.*
!.env.example

*.db
*.sqlite
*.sqlite3

__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
.venv/
dist/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

.idea/
.vscode/*
!.vscode/settings.json
.DS_Store
Thumbs.db
/app/.metadata
